/**
 * Colors
 * ------
 * Colors named with http://chir.ag/projects/name-that-color
 * Declared in alphabetical order, inhex, with upper case alphas
 */

// Shorthands
$black: #000;
$white: #fff;

// Grey scale
$alabaster: #f8f8f8;
$gallery: #eaeaea;

// Blues
$green-vogue: #022B5A;
$jelly-bean: #286A90;
$malibu: #66CCFF;
$robins-egg-blue: #00CCCC;
$pickled-bluewood: #2F4F5A;

// Yellows
$school-bus-yellow: #FEDB00;

// Oranges
$blaze-orange: #FF6900;

// Reds
$radical-red: #F4364C;

