/**
 * Boxes
 * -----
 * Basic box styles.
 * All should be placeholders, and extended by modules as to not attach
 * presentational information to the DOM.
 * Declared alphabetically
 */


%alabaster-fade-box {
  @include background-image(linear-gradient(top, $gallery 25%, $alabaster 100%));
  padding-top: 10px;
  padding-bottom: 10px;
}

%jelly-bean-box {
  @include background-image(linear-gradient(top, #1a2542 0, transparent 800px));
  background-repeat: repeat;
  background-color: $jelly-bean;
  color: $white;
}

