/**
 * Boxes
 * -----
 * Basic box styles.
 * All should be placeholders, and extended by modules as to not attach
 * presentational information to the DOM.
 * Declared alphabetically
 */


%alabaster-fade-box {
  background-image: url(images/gradients/alabaster-box.png);
  background-position: left top;
  background-color: $alabaster;
  @include background-image(linear-gradient(to top, $gallery 25%, $alabaster 100%));
  padding-top: 10px;
  padding-bottom: 10px;
}

%jelly-bean-box {
  background-image: url(images/gradients/jelly-bean-box.png);
  background-repeat: repeat-x;
  @include background-image(linear-gradient(#1a2542 0, transparent 800px));
  background-color: $jelly-bean;
  color: $white;
}

%o2-box {
  background-image: url(images/gradients/o2.png);
  @include background-image(linear-gradient(
    #131a35 0%,
    #045591 40%,
    #2589c1 60%,
    #73b4da 80%,
    #a5cee6 100%
  ));
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-size: auto 100%;
  color: $white;
}
