/**
 * Buttons
 * -------
 */

%button {
  @include vector(chevron-right, after);
  font-size: 17px;
  font-weight: 300;
  height: 32px;
  line-height: 32px;
  text-decoration: none;
  color: #fff;
  padding-left: 15px;
  padding-right: 15px;
  white-space: nowrap;
  border-radius: 4px;
  background-color: $black;
  &:after {
    display: inline-block;
    height: 100%;
    vertical-align: top;
    font-size: 12px;
    padding-left: 10px;
  }
}

%robins-egg-blue-button {
  @extend %button;
  background-color: $robins-egg-blue;
}
