/**
 * Content section
 * ---------------
 * The main section block
 */

%content-section {
  @extend %container;
  box-sizing: border-box;
  padding-left: 32px;
  padding-right: 32px;
  background-repeat: no-repeat;
}

%content-section__copy-heading {
  font-size: 22px;
  font-weight: 300;
  white-space: nowrap;
  margin-bottom: 15px;
}

%content-section__copy {
  font-size: 11px;
  line-height: 1.6;
}

