@include idea(APPS) {
  @include when-odd {
    .idea__image {
      width: 55%;
      left: 4.6%;
      margin-top: 7%;
    }
  }
  @include when-even {
    .idea__image {
      width: 58%;
      left: -3%;
      margin-top: 8%;
    }
  }
  @include summary-image-dimensions(85, 49);
}

