@include idea(BB_L) {
  .idea__image {
    width: 53.125%;
  }
  @include when-odd {
    .idea__image {
      left: 3%;
      margin-top: -1%;
    }
  }
  @include when-even {
    .idea__image {
      left: -4%;
      margin-top: 1%;
    }
  }
  @include summary-image-dimensions(90, 86);
}

