@include idea(PUO) {
  .idea__image {
    width: 58%;
  }
  @include when-odd {
    .idea__image {
      left: 4%;
      margin-top: 6%;
    }
  }
  @include when-even {
    .idea__image {
      left: -4%;
      margin-top: 8%;
    }
  }
  @include summary-image-dimensions(76, 45);
}

