@include idea(TAB) {
  .idea__image {
    width: 58%;
  }
  @include when-odd {
    .idea__image {
      left: 2.7%;
      margin-top: 8.3%;
    }
  }
  @include when-even {
    .idea__image {
      left: -3%;
      margin-top: 10%;
    }
  }
  @include summary-image-dimensions(85, 47);
}


