@include idea(BLOG) {
  .idea__image {
    width: 146px;
  }
  @include when-odd {
    .idea__image {
      left: 8px;
      top: 25px;
    }
  }
  @include when-even {
    .idea__image {
      left: -9px;
      top: 30px;
    }
  }
  @include summary-image-dimensions(80, 36);
}


