@include idea(ENEWS) {
  .idea__image {
    width: 53%;
  }
  @include when-odd {
    .idea__image {
      left: 3.5%;
      margin-top: 8%;
    }
  }
  @include when-even {
    .idea__image {
      left: -3.2%;
      margin-top: 12%;
    }
  }
  @include summary-image-dimensions(71, 31);
}

