@include idea(GURU) {
  .idea__image {
    width: 54%;
  }
  @include when-odd {
    .idea__image {
      left: 5%;
      margin-top: 5.5%;
    }
  }
  @include when-even {
    .idea__image {
      left: -2%;
      margin-top: 7.5%;
    }
  }
  @include summary-image-dimensions(70, 47);
}






