@include idea(MY_O2_B) {
  .idea__image {
    width: 46.5%;
  }
  @include when-odd {
    .idea__image {
      left: 3%;
      margin-top: 9%;
    }
  }
  @include when-even {
    .idea__image {
      left: -2.8%;
      margin-top: 9%;
    }
  }
  @include summary-image-dimensions(76, 42);
}

