@include idea(PRIORITY) {
  .idea__image {
    width: 40.625%;
  }
  @include when-odd {
    .idea__image {
      left: 3%;
      margin-top: 4%;
    }
  }
  @include when-even {
    .idea__image {
      left: -3%;
      margin-top: 6%;
    }
  }
  @include summary-image-dimensions(64, 70);
}



