@include idea(ROAM) {
  .idea__image {
    width: 44%;
  }
  @include when-odd {
    .idea__image {
      left: 3.7%;
      margin-top: 7%;
    }
  }
  @include when-even {
    .idea__image {
      left: -2.5%;
      margin-top: 11%;
    }
  }
  @include summary-image-dimensions(76, 51);
}

