@include idea(ROAM) {
  .idea__image {
    width: 116px;
  }
  @include when-odd {
    .idea__image {
      left: 11px;
      top: 19px;
    }
  }
  @include when-even {
    .idea__image {
      left: -9px;
      top: 30px;
    }
  }
  @include summary-image-dimensions(76, 51);
}

