@include idea(TRAVEL) {
  .idea__image {
    width: 40%;
  }
  @include when-odd {
    .idea__image {
      left: 5%;
      margin-top: 5%;
    }
  }
  @include when-even {
    .idea__image {
      left: -1.6%;
      margin-top: 8%;
    }
  }
  @include summary-image-dimensions(64, 70);
}




