@include idea(WIFI) {
  .idea__image {
    width: 30%;
  }
  @include when-odd {
    .idea__image {
      left: 3.1%;
      margin-top: 5%;
    }
  }
  @include when-even {
    .idea__image {
      left: -3%;
      margin-top: 6%;
    }
  }
  @include summary-image-dimensions(48, 70);
}





