section.introduction
  img.introduction__bg(src='images/content-section-backgrounds/small/arrow-bg-first.png')
  .introduction__content
    h1.introduction__heading
      = introduction.heading
      img.introduction__heading-image(src='images/text/4-ideas-to-boost-your-business.png')
    div.introduction__copy!= introduction.copy
    span.introduction__goad= introduction.goad

