section.terms-and-conditions
  .terms-and-conditions__container
    h2.terms-and-conditions__heading= termsAndConditions.heading
    div.terms-and-conditions__copy!= termsAndConditions.copy
    a.terms-and-conditions__back-link Back
