/**
 * Idea
 * ------------
 * A content section outlining an idea
 */

.odd-idea,
.even-idea {
  @extend %content-section;
}

.idea__bg {
  @extend %content-section__bg;
}

.idea__header {
  text-align: center;
  margin-top: 48.5%;
  position: absolute;
  top: 0;
  width: 100%;
}

.idea__body {
  position: relative;
  margin-top: 133%;
}

.idea__heading {
  font-size: 25px;
  font-weight: 300;
  letter-spacing: -1px;
  text-align: center;
  &:after {
    @extend .ui-element;
    @extend .ui-element-idea-heading-underline;
    content: '';
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 5px;
  }
}

.idea__image {
  position: relative;
}

.idea__sub-heading {
  @extend %content-section__copy-heading;
}

.idea__copy {
  @extend %content-section__copy;
  margin-bottom: 15px;
}

.odd-idea {
  .idea__bg {
    left: 8%;
  }
  .idea__header {
    margin-bottom: 30%;
  }
  .idea__heading {
    position: relative;
    left: 3.8%;
  }
  .idea__body {
    margin-right: 20%;
  }
}

.even-idea {
  .idea__bg {
    left: -2%;
  }
  .idea__header {
    margin-bottom: 30%;
  }
  .idea__heading {
    position: relative;
    right: 7px;
  }
  .idea__body {
    margin-left: 55px;
  }
}

.idea[data-number="1"] .idea__cta { @extend %blaze-orange-button; }
.idea[data-number="2"] .idea__cta { @extend %radical-red-button; }
.idea[data-number="3"] .idea__cta { @extend %malibu-button; }
.idea[data-number="4"] .idea__cta { @extend %robins-egg-blue-button; }

