/**
 * Idea
 * ------------
 * A content section outlining an idea
 */

%idea {
  @extend %content-section;
}

%odd-idea {
  @extend %idea;
  background-image: url(images/content-section-backgrounds/arrow-bg-to-br.png);
  background-size: 252px;
  background-position: 50px 0;
  min-height: 492px;
  padding-top: 132px;
}

%even-idea {
  @extend %idea;
  background-image: url(images/content-section-backgrounds/arrow-bg-to-bl.png);
  background-size: 261px;
  background-position: 20px 0;
  min-height: 472px;
  padding-top: 128px;
}

.idea:nth-of-type(odd) { @extend %odd-idea; }
.idea:nth-of-type(even) { @extend %even-idea; }

.idea__header {
  %odd-idea & { height: 202px; }
  %even-idea & { height: 215px; }
}

.idea__heading {
  font-size: 25px;
  font-weight: 300;
  letter-spacing: -1px;
  text-align: center;
  &:after {
    @extend .ui-element;
    @extend .ui-element-idea-heading-underline;
    content: '';
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 5px;
  }

  %odd-idea & { position: relative; left: 10px; }
  %even-idea & { position: relative; right: 7px; }
}

.idea__body {
  %odd-idea & { margin-right: 53px; }
  %even-idea & { margin-left: 55px; }
}

.idea__sub-heading {
  @extend %content-section__copy-heading;
}

.idea__copy {
  @extend %content-section__copy;
  margin-bottom: 15px;
}


// Idea specific styles
.idea[data-cid=APPS] {
  .idea__cta { @extend %orange-button; }
}

.idea[data-cid=PUO] {
  .idea__cta { @extend %radical-red-button; }
}

.idea[data-cid=MY_O2_B] {
  .idea__cta { @extend %malibu-button; }
}

.idea[data-cid=BLOG] {
  .idea__cta { @extend %robins-egg-blue-button; }
}

