/**
 * Introduction
 * ------------
 * The first content section
 */

.introduction {
  @extend %content-section;
}

.introduction__bg {
  @extend %content-section__bg;
}

.introduction__content {
  @extend %content-section__content;
}

.introduction__heading {
  font-size: 0;
  color: transparent;
  margin: 24% 20% 40% 14%;
}

.introduction__heading-image {
  width: 100%;
}

.introduction__copy,
.introduction__goad {
  margin-right: 16%;
}

.introduction__copy {
  @extend %content-section__copy;
  margin-bottom: 16px;
}

.introduction__goad {
  font-size: 17px;
  font-weight: 300;
  color: $school-bus-yellow;
}

