doctype html
html
  head
    title= title
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400,300')
    link(rel='stylesheet', href='default.css')
  body
    include ../layout/header
    block content
    include ../layout/footer
    script(src='default.js')
