footer.site-footer
  .site-footer__container
    .site-footer__tnc-privacy
      a.site-footer__tnc-link= footer.termsAndConditionsLabel
    .site-footer__logo-copyright
      span.site-footer__telefonica-logo
      span.site-footer__copyright-copy= footer.copyrightCopy
