extends layouts/default

block content
  .carousel
    include layout/header
    .carousel__entry.active#content
      include index/introduction
      include index/upsell-ideas
      include index/why-o2-ideas
      include index/summary
      include layout/footer
    .carousel__entry#terms-and-conditions
      include index/terms-and-conditions

