extends layouts/default

block content
  .carousel
    include layout/header
    .carousel__entry.active#content
      .container
        include index/introduction
        each idea in ideas
          include index/idea
        include index/summary
      include layout/footer
    .carousel__entry#terms-and-conditions
      include index/terms-and-conditions

