/**
 * Index layout
 * ------------
 */

.index-layout {
  .site-header {
    margin-bottom: 50px;
  }

  %content-section {
    margin-bottom: 50px;
  }

  .terms-and-conditions {
    margin-bottom: 50px;
  }
}
